---
import MainLayout from "../layouts/MainLayouts.astro"
import Spil from "../components/Spil.astro"
import Button from "../components/Button.astro"
import ImageText from "../components/ImageText.astro"
import Ensom from "../components/Ensom.astro"
import Advice from "../components/Advice.astro"
import Video from "../components/Video.astro"
import Footer from "../components/Footer.astro"
---

<body>
	<MainLayout>		
		<ImageText/>
		<Ensom/>
		<Video/>
		<Advice/>
		<Button/>
		<Spil/>
		<Footer/>
	</MainLayout>	

</body>

