---

---

<div class="advice">
    <div class="top">
        <p>Mathildas 3 gode råd til hvis du er</p>
    </div>
    <img src="ensom.svg" alt="">
    <ol>
        <li>
            <p>Sluk for Instagram: Lad være med at lade dig forføre af det perfekte liv, du ser på sociale medier. Nogle gange skal man lige trække stikket ud for at finde sig selv igen.</p>
        </li>
        <li>
            <p>Lav noget du elsker: Når ensomheden føles overvældende, så find noget, der bringer dig glæde. Dyk ned i dine hobbyer eller passioner. Det kan være en god måde at genopdage dig selv på.</p>
        </li>
        <li>
            <p>Tal om det: Det er okay at føle sig ensom, og du er ikke alene. Når du deler dine følelser med andre, kan det hjælpe med at lette byrden. Der er helt sikkert andre, der kæmper med det samme.</p>
        </li>
    </ol>
</div>

<style>
    .advice {
        margin-top: 100px;
    }
    .top p {
        color: #273AAA; 
        font-size: 44px;
        text-align: center;
        font-weight: bold;
    }

    ol {
        max-width: 800px;
        margin: 10px auto;
        
        gap: 40px;
    }

    li::marker {
        font-size: 24px;
    }
</style>