---

---

<div class="advice">
    <div class="top">
        <p>Katrines 3 gode råd til hvis du er</p>
    </div>
    <div class="content">
        <ol>
            <li>
                <p>Lad være med at overtænke - Det rykker intet i den fysiske verden og du får det bare skidt i hovedet af det.</p>
            </li>
            <li>
                <p>Tro på dig selv - det hele skal nok gå! Rom blev ikke bygget på en dag og det er tit svært at se hvor langt du allerede er kommet, men du er god som du er.</p>
            </li>
            <li>
                <p>Vær god mod alle - ALLE går igennem svære ting men de færreste viser det, derfor er det vigtigt at være sød mod alle du møder.</p>
            </li>
        </ol>
    </div>
</div>

<style>
    .advice {
        margin-top: 100px;
    }
    .top p {
        color: #273AAA; 
        font-size: 44px;
        text-align: center;
        font-family: "obviously", sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: 50px; 
    }

    .content {
        text-align: center;
    }


    ol {
        max-width: 800px;
        margin: 0 auto;
        gap: 50px;
    }

    li {
        margin-bottom: 50px; 
    }

    li::marker {
        font-size: 24px;
    }


    
</style>