---

---
<div class="ensom">
    <img src="erduensom.png" alt="">
    <div class="content">
        <p>Mathilda deler ærligt sin iværksætteroplevelse og hvor ensomt det kan føles. Nogle dage, når der ikke er mange opgaver, fylder tanker som 'Hvorfor får jeg ingen jobs?' og 'Hvorfor skriver ingen til mig?' Det er overvældende at bære hele ansvaret alene. Man kan også føle sig jaloux på andre med 'normale' jobs og finde det svært at prioritere virksomheden over sociale relationer.</p>
        <p>For at støtte piger, der føler sig ensomme, er det vigtigt at fokusere på det positive og skabe fællesskaber. Husk, du er ikke alene i dine følelser, og der er altid nogen, der forstår dig og vil støtte dig</p>
    </div>
</div>

<style>
    .ensom img {
        margin-bottom: 50px;
    }
</style>