---

---
<div class="ensom">
    <div class="content">
        <p>Katrine arbejder som fungerende gruppeleder i GirlTalk og har et godt syn på sociale tendenser hos de unge i målgruppen. Hun lægger i stigende grad mærke til, at der er opstået en afstand mellem de unge, og de kommer hinanden mindre ved end førhen. For mange unge føler sig alene og derfor faciliterer GirlTalk fysiske mødesteder, hvor de unge kan mødes og skabe relationer. </p>
        <p>Herudover har Katrine taget temperaturen på hvordan vi som samfund bakker op om de unge, og her mener hun, at vi bestemt mangler at støtte de unge i at navigere sig på de sociale medier, og at belyse at de sociale medier kommer med flere facetter, både på godt og ondt.</p>
        <p>Katrine beskriver også de to forløb EMPOWER og SISTERHOOD, som GirlTalk tilbyder. Disse giver de unge frirum til at gå i dybden og diskutere de forskellige problemstillinger de unge står overfor nu til dags</p>
    </div>
</div>

<style>
    .ensom {
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin-top: -140px;
    }

    .content {
        margin-top: 100px;
        text-align: left; 
        max-width: 100%; 
    }


</style>