---

---

<div class="footer">
<p>Girltalk</p>
<p>Martinsvej 7, 1</p>
<p>1926 Frederiksberg C</p>
<p>CVR 30 14 53 48</p>
</div>
<style>
    .footer{
        justify-content: center;
        display: flex;
        gap: 40px
    }

</style>