---

---


<div class="image-text">
    <img class="hero-image" src="hero.svg" alt="">
    <div class="text">
        <h1 class="hero-heading">Velkommen</h1>
        <p class="hero-p">til vores webfeature om ensomhed blandt unge piger. I denne særlige artikel har vi interviewet to inspirerende kvinder: Kathrine fra Girl Talk, og Mathilda, som er ung iværksætter og ejeren af Rhodflowers.</p>

        <p class="hero-p">Vi dykker ned i emnet ensomhed og deler ærlige perspektiver og erfaringer fra vores interviewpersoner. Sammen udforsker vi også værdifulde råd og strategier til at håndtere og overvinde følelsen af ensomhed.</p>
        
    </div>
</div>


<style>
    .image-text {
        margin: 0 auto;
        margin-bottom: 100px;
        width: 900px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        align-items: center;
    }


    .hero-heading {
    display: inline;
    font-size: 96px;
    color: #273aaa;
    }

    .hero-p {
    display: block;
    margin-top: 0;
    }
</style>