---

---

<img class="image-chat" src="køchat.png" alt="">

<div class="text-game">
  <div class="text">
    <h2>Empowerment Memory</h2>
    <p>Det ultimative vendespil. Mens du venter i køen til vores chat, hvorfor så ikke prøve vores sjove memory-spil?</p>
  </div>
  <div class="memory-game">
      <div class="board">
      
      </div>
      <div class="message"></div>

  </div>
</div>


<style>
  .image-chat {
    margin-top: 100px;
    width: 400px;
    margin-right: 150px;
    margin-left: auto;
    margin-bottom: 10px;
  }

  .text {
      width: 700px;
      text-align: center;
      margin: 0 auto;
  }
  h2 {
    color: #273aaa;
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-size: 52px;
    margin-top: 20px;
    margin-bottom: 0;

  }
  p {
    font-size: 24px;
  }

</style>


<script>

const images = ["image1.png", "image1.png", "image2.png", "image2.png", "image3.png", "image3.png", "image4.png", "image4.png", "image5.png", "image5.png", "image6.png", "image6.png"];
const board = document.querySelector(".board");
let flippedCards = [];
let matchedPairsCount = 0; 
let canFlip = true; 


let cards = [...images];


cards.sort(() => Math.random() - 0.5);


function createBoard() {
  for (let i = 0; i < cards.length; i++) {
    const card = document.createElement("div");
    card.classList.add("card");
    card.setAttribute("data-index", "" + i);
    card.addEventListener("click", flipCard);
    const front = document.createElement("div");
    front.classList.add("front");
    const back = document.createElement("div");
    back.classList.add("back");
    back.style.backgroundImage = `url(${cards[i]})`;
    card.appendChild(front);
    card.appendChild(back);
    board.appendChild(card);
  }
}

function flipCard() {
  if (!canFlip || this.classList.contains("flipped") || this.classList.contains("matched")) {
    return;
  }

  this.classList.add("flipped");
  flippedCards.push(this);

  if (flippedCards.length === 2) {
    canFlip = false;
    const firstCardIndex = flippedCards[0].getAttribute("data-index");
    const secondCardIndex = flippedCards[1].getAttribute("data-index");

    if (cards[firstCardIndex] === cards[secondCardIndex]) {
      matchedPairsCount++;
      flippedCards.forEach((card) => card.classList.add("matched", "hidden")); 
      flippedCards = [];

      setTimeout(() => {
        matchedPairsCount === cards.length / 2 && showCompletionMessage(); 
        canFlip = true;
      }, 1000);
    } else {
      setTimeout(() => {
        flippedCards.forEach((card) => card.classList.remove("flipped"));
        flippedCards = [];
        canFlip = true; 
      }, 1000);
    }
  }
}


function showCompletionMessage() {
  console.log("All pairs are matched!"); 
  const message = document.querySelector(".message");
  message.classList.add("her");
  
  const completionText = document.createElement("p");
  completionText.textContent = "You connected all pairs!";
  message.appendChild(completionText);

  const playAgainButton = document.createElement("button");
  playAgainButton.textContent = "Play Again";
  playAgainButton.addEventListener("click", resetGame);
  message.appendChild(playAgainButton);
}


function resetGame() {

  board.innerHTML = "";
  flippedCards = [];
  matchedPairsCount = 0;
  
  cards = [...images];
  cards.sort(() => Math.random() - 0.5);
  createBoard();

  const message = document.querySelector(".message");
  message.textContent = "";
  message.classList.remove("her");
}

createBoard();

</script>
  
